altgraph==0.17.3
asyncio==3.4.3
auto-py-to-exe==2.26.1
autopep8==2.0.1
bottle==0.12.23
bottle-websocket==0.2.9
certifi==2022.12.7
ciso8601==2.3.0
contourpy==1.0.6
cycler==0.11.0
Eel==0.14.0
exif==1.5.0
fonttools==4.38.0
future==0.18.2
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.1
kiwisolver==1.4.4
matplotlib==3.6.3
numpy==1.24.1
packaging==23.0
pandas==1.5.2
Pillow==9.4.0
plum-py==0.8.5
pycodestyle==2.10.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyparsing==3.0.9
pyproj==3.4.1
PySimpleGUI==4.60.4
python-dateutil==2.8.2
pytz==2022.7
scipy==1.10.0
six==1.16.0
tk==0.1.0
tomli==2.0.1
whichcraft==0.6.1
zope.event==4.6
zope.interface==5.5.2
